body{
    font-family:MS Gothic;
}

li{
    font-size: large;
    font-weight:bold;
}

h1{
    text-align: center;
}

.iniad{
    float:right;
}

.sensoji{
    width: 300px;
    height: 215px;
    float:right;
}

.tokyotower{
    width: 240px;
    height: 320px;
    float:right;
}

.meiji{
    width: 320px;
    height: 244px;
    float:right;
}